<!-- Side navigation -->
<div class="sidenav">
  <link rel="import" href="http://www.dilkhush.com/recipes/cookbook_chicken_masala.html"
  onload="handleLoad(event)" onerror="handleError(event)">
  <a target=""  >Chicken Masala </a>
  <a href="#">Vindaloo Chicken/Lamb/Beef </a>
  <a href="#">Tandoori Chicken </a>
  <a href="#">Tandoori Chicken Fajitas </a>
  <a href="#">Tandoori Tikka </a>
  <a href="#">Tandoori Tikka Masala </a>
  <a href="#">Keema Masala  </a>
  <a href="#">Fish Curry Gravy </a>
  <a href="#">Chicken Korma  </a>
  <a href="#">Fish Curry Gravy </a>
  <a href="#">Fish in Tandoori Masala </a>
  <a href="#">Shrimps in Tandoori Masala </a>
  <a href="#">Aloo Gobi</a>
  <a href="#">Red Potato Curry</a>
  <a href="#">Peas & Mushroom Curry </a>
  <a href="#">Saag Paneer </a>
  <a href="#">Baigan Bhartha</a>
  <a href="#">Tofu with Red/Green Pepper Curry </a>


</div>

<!-- Page content -->
<div class="main">
  content here
</div>