

  <div class="card mb-3">
      <img class="card-img-top" src="./assets/images/banner.png" alt="Card image cap">
      <div class="card-body">
       <div class="text-sm-center"> 
          <h3 class="card-title">DilKhush</h3>
          <h5 class="card-title">Indian Gourmet Food</h5>
        <p>
           Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.
           Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.

           Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.
           Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.
           Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.Some text here.

        </p>
      </div>
    </div>
 